{% extends 'base.html' %}
{% load static %}
{% block title %}
  Product Page
{% endblock title %}

{% block content %}

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/farm/product.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>Our Product</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'farms_app:index' %}"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Our Product</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area">
    <div class="container">
      <div class="row align-items-center">

        <!-- About Us Content -->
        <div class="col-12 col-lg-6">
          <div class="about-us-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>FARM PRODUCE</p>
              <h2><span>The Future</span> Of Agriculture </h2>
              <img src="{% static 'img/core-img/decor.png' %}" alt="">
            </div>
            <p class="text-dark">At Petrosa Farms, we're committed to redefining agriculture with innovation, sustainability, and care. From farm to table, our produce reflects purity, freshness, and a passion for quality farming. Join us as we nurture nature to feed the future.</p>
            <!-- <a href="#" class="btn famie-btn mt-30">Read More</a> -->
          </div>
        </div>

        <!-- Famie Video Play -->
        <div class="col-12 col-lg-6">
          <div class="about-us-thumbnail mb-100">
            <img src="{% static 'img/farm/layers.png' %}" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->

  <!-- ##### Services Area Start ##### -->
  <section class="services-area d-flex flex-wrap">
    <!-- Service Thumbnail -->
    <div class="services-thumbnail bg-img jarallax" style="background-image: url({% static 'img/farm/section.png' %});"></div>

    <!-- Service Content -->
    <div class="services-content section-padding-100-50 px-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading ">
              <p class="text-dark">What we do</p>
              <h2 class="text-dark"><span>Fresh From</span> Our Farm To Your Table</h2>
              <img src="{% static 'img/core-img/decor.png' %}" alt="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-50">
            <p class="text-dark">We specialize in cultivating and delivering premium-quality farm products directly from our fields to your kitchen. With a blend of tradition and innovation, we grow, harvest, and supply fresh fruits, vegetables, dairy, grains, and protein-rich produce — all sustainably farmed and expertly handled.</p>

          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <img src="{% static 'img/core-img/s1.png' %}" alt="">
                <h5>Fruit &amp; Vegetable</h5>
              </div>
              <p class="text-dark">We grow a rich variety of fresh, organic fruits and vegetables, harvested at peak ripeness to ensure nutrition, taste, and sustainability.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="200ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <img src="{% static 'img/core-img/s2.png' %}" alt="">
                <h5>Meat &amp; Eggs</h5>
              </div>
              <p class="text-dark">Our livestock and poultry are ethically raised for premium meat and eggs, ensuring high quality and health-conscious standards.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <img src="{% static 'img/core-img/s3.png' %}" alt="">
                <h5>Milk &amp; Cheese</h5>
              </div>
              <p class="text-dark">Our dairy offerings include farm-fresh milk and handcrafted cheeses produced under hygienic conditions for unmatched quality and flavor.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="400ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <img src="{% static 'img/core-img/s4.png' %}" alt="">
                <h5>Rice &amp; Corn</h5>
              </div>
              <p class="text-dark">We supply staple grains like rice and corn, grown naturally to preserve their richness and processed with care to maintain freshness.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ##### Services Area End ##### -->

  <!-- ##### Our Products Area Start ##### -->
  <section class="our-products-area section-padding-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>Featured Products</p>
            <h2><span>Our Product</span> Are Highest Quality</h2>
            <img src="{% static 'img/core-img/decor2.png' %}" alt="">
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Product Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <img src="{% static 'img/farm/potatoes.png' %}" alt="">
              <!-- Product Tags -->
              <!-- <span class="product-tags">Hot</span> -->
              <!-- Product Meta Data -->
              <!-- <div class="product-meta-data">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Favourite"><i class="icon_heart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon_cart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
              </div> -->
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Fresh Potatoe</a>
              <!-- <h6 class="price">$17.99</h6> -->
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
            <img src="{% static 'img/farm/yam.png' %}" alt="">
              <!-- Product Meta Data -->
              <!-- <div class="product-meta-data">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Favourite"><i class="icon_heart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon_cart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
              </div> -->
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Yam</a>
              <!-- <h6 class="price">$9.99</h6> -->
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <img src="{% static 'img/farm/cabbage.png' %}" alt="">
              <!-- Product Meta Data -->
              <!-- <div class="product-meta-data">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Favourite"><i class="icon_heart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon_cart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
              </div> -->
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Cabbage</a>
              <!-- <h6 class="price">$59.99</h6> -->
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <img src="{% static 'img/farm/watermelon.png' %}" alt="">
              <!-- Product Tags -->
              <!-- <span class="product-tags bg-danger">Sale</span> -->
              <!-- Product Meta Data -->
              <!-- <div class="product-meta-data">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Favourite"><i class="icon_heart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon_cart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
              </div> -->
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Watermelon</a>
              <!-- <h6 class="price"><span>$29.99</span> $19.99</h6> -->
            </div>
          </div>
        </div>

         <!-- Single Product Area -->
         <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <img src="{% static 'img/farm/pineapple.png' %}" alt="">
              <!-- Product Tags -->
              <!-- <span class="product-tags bg-danger">Sale</span> -->
              <!-- Product Meta Data -->
              <!-- <div class="product-meta-data">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Favourite"><i class="icon_heart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon_cart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
              </div> -->
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Pineapple</a>
              <!-- <h6 class="price"><span>$29.99</span> $19.99</h6> -->
            </div>
          </div>
        </div>

         <!-- Single Product Area -->
         <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <img src="{% static 'img/farm/onion.png' %}" alt="">
              <!-- Product Tags -->
              <!-- <span class="product-tags bg-danger">Sale</span> -->
              <!-- Product Meta Data -->
              <!-- <div class="product-meta-data">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Favourite"><i class="icon_heart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon_cart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
              </div> -->
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Onions</a>
              <!-- <h6 class="price"><span>$29.99</span> $19.99</h6> -->
            </div>
          </div>
        </div>

         <!-- Single Product Area -->
         <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <img src="{% static 'img/farm/broccoli.png' %}" alt="">
              <!-- Product Tags -->
              <!-- <span class="product-tags bg-danger">Sale</span> -->
              <!-- Product Meta Data -->
              <!-- <div class="product-meta-data">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Favourite"><i class="icon_heart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon_cart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
              </div> -->
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Broccoli</a>
              <!-- <h6 class="price"><span>$29.99</span> $19.99</h6> -->
            </div>
          </div>
        </div>

        <!-- Single Product Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-product-area mb-50">
            <!-- Product Thumbnail -->
            <div class="product-thumbnail">
              <img src="{% static 'img/farm/wings.png' %}" alt="">
              <!-- Product Tags -->
              <!-- <span class="product-tags bg-danger">Sale</span> -->
              <!-- Product Meta Data -->
              <!-- <div class="product-meta-data">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Favourite"><i class="icon_heart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon_cart_alt"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
              </div> -->
            </div>
            <!-- Product Description -->
            <div class="product-desc text-center pt-4">
              <a href="#" class="product-title">Chicken Wings</a>
              <!-- <h6 class="price"><span>$29.99</span> $19.99</h6> -->
            </div>
          </div>
        </div>

  


      </div>

      <!-- <div class="row">
        <div class="col-12">
          <div class="gotoshop-btn text-center">
            <a href="#" class="btn famie-btn">Get Our App on Playstore for Easy Orders</a>

          </div>
        </div>
      </div> -->
    </div>
  </section>
  <!-- ##### Our Products Area End ##### -->

  <!-- ##### Newsletter Area Start ##### -->
  <!-- <section class="newsletter-area section-padding-100 bg-img bg-overlay jarallax" style="background-image: url({% static 'img/farm/carrot.png' %});">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="newsletter-content"> -->
            <!-- Section Heading -->
            <!-- <div class="section-heading white text-center">
              <p>What we do</p>
              <h2><span>Fresh From</span> Our Field To Your Home</h2>
              <img src="{% static 'img/core-img/decor2.png' %}" alt="">
            </div>
            <p class="text-white mb-50 text-center"> At our farm, we grow and deliver the finest selection of fresh, organic produce — straight from the fields to your table. We are passionate about healthy living, sustainability, and providing natural products you can trust. Join our farm family and experience the true taste of nature.</p>
          </div>
        </div>
      </div> -->
      <!-- Newsletter Form -->
      <!-- <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Enter your email">
            <button type="submit" class="btn famie-btn">Subscribe</button>
          </form>
        </div>
      </div> -->
    <!-- </div> -->
  <!-- </section> -->
  <!-- ##### Newsletter Area End ##### -->
  {% endblock %}