{% extends 'base.html' %}

{% load static %}

{% block title %}
  Services Page
{% endblock title %}

{% block content %}


 <!-- ##### Breadcrumb Area Start ##### -->
 <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/farm/service.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>SERVICES</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'farms_app:index' %}"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Services</li>
        </ol>
      </nav>
    </div>
  </div>
  <section class="container-fluid">
    <div class="accordion-hero">
      <h2 class="text-center">Our Services</h2>
      <p class="text-center">Freshness, quality, and convenience at your fingertips.</p>
        <ul>
            <li class="acc1 text-white wow fadeInDown" data-wow-delay="500ms">
                <div class="accordion-body ">
                    <a href="#">
                      <h5>Fresh Farm Products</h5>
                      <p>Enjoy a variety of freshly harvested fruits, vegetables, and organic produce grown with love and care.</p>
                    </a>
                </div>
            </li>
            <li class="acc2 wow fadeInUp" data-wow-delay="700ms">
                <div class="accordion-body ">
                    <a href="#">
                      <h5>Farm-to-Home Delivery</h5>
                      <p>Order through our mobile app and have fresh products delivered directly to your doorstep — fast and easy!</p>
                    </a>
                </div>
            </li>
            <li class="acc3 wow fadeInDown" data-wow-delay="900ms">
                <div class="accordion-body ">
                    <a href="#">
                      <h5>Online Ordering</h5>
                      <p>Shop conveniently anytime with our easy-to-use app, designed to give you a smooth and secure experience.</p>
                    </a>
                </div>
            </li>
            <li class="acc4 wow fadeInUp" data-wow-delay="1100ms">
                <div class="accordion-body ">
                    <a href="#">
                      <h5>Organic and Natural</h5>
                      <p>Our commitment is to pure, chemical-free farming. We grow natural, healthy food for you and your family.</p>
                    </a>
                </div>
            </li>
            <li class="acc5 wow fadeInDown" data-wow-delay="1300ms">
                <div class="accordion-body ">
                    <a href="#">
                      <h5>Wholesale Supply</h5>
                      <p>We supply fresh farm products in bulk to restaurants, hotels, supermarkets, and other businesses at great prices.</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>
  <!-- ##### Breadcrumb Area End ##### -->

{% endblock %}